.footer-container {
    background: #2d3748;
}

.footer {
    width: 100%;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }