/* Why Choose Us Section */
  .reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    padding: 2px 13px;
  }

  .reason-item {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(253, 255, 255);
    border-radius: 3%;
  }
  
  .reason-item:hover{
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(240, 245, 245);
  }

  .reason-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .reason-item h3 {
    color: #667eea;
    margin-bottom: 0.5rem;
  }